
#title {
    background-color : rgb(21, 102, 156);
    color: aliceblue; 
    text-align: center;
    padding: 15px;
}

#main {
    display: flex;
}

#fututeDisplay {
    display: flex;
}

.display {
    justify-content: center;
    padding: 20px;
    border: solid 2px lavender;
    margin: 20px;
    text-align: center;

}

#lowerMain {
   text-align: center;
}

.forcast {
    background-color: rgb(21, 102, 156);
    margin: 5px;
    color: lavender;
    padding: 5px;
}

.favorable{
    background-color: rgb(15, 87, 15);
    padding: 5px;
    color: white;
}

.moderate{
    background-color: rgb(187, 187, 9);
    padding: 5px;
    color: white;
}

.severe{
    background-color: rgb(129, 9, 9);
    padding: 5px;
    color: white;
}

.HistoryButtons {
    display: flex;
    background: rgb(21, 102, 156);
    color: lavender;
    margin: 5px;
    padding-left: 20px;
}